body{
    background-image: url(pics/p2.jpg);
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center center;
    height: 100%;
}

h1{
    text-align: center;
    padding: 10px;
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
    background-image: linear-gradient(60deg, #ffffff 20%, #DEBACE 80%);
    background-blend-mode:multiply ;
    opacity: 0.8;
    justify-content: center;
}

.Operation-area{
    font-family: 'Ubuntu',sans-serif; 
    padding-top:20px;
    padding-bottom: 40px;
    font-weight:bold ;
}